<% include ../partials/parentHeader.ejs %>
<% include ../partials/messages.ejs %>
<div class="container">
    <% if (student) { %>
        <form class="add-student-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="first-name"><%= __("First Name") %></label>
                    <input type="text" class="form-control" name="first_name" id="first-name" value="<%= student.first_name %>" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label for="last-name"><%= __("Last Name") %></label>
                    <input type="text" class="form-control" name="last_name" id="last-name" value="<%= student.last_name %>" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label for="sex"><%= __("Sex") %></label>
                    <input type="text" class="form-control" name="sex" id="sex" value="<%= student.sex %>" readonly>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="passport_no"><%= __("Passport No") %></label>
                    <input type="number" class="form-control" name="passport_no" id="passport_no" value="<%= student.passport_no %>" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label for="d_o_b"><%= __("DOB") %></label>
                    <input type="date" class="form-control" name="d_o_b" id="d_o_b"  value="<%= student.d_o_b %>" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label for="class"><%= __("Class") %></label>
                    <input type="text" class="form-control" name="class" id="class"  value="<%= student.class %>" readonly>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="bus"><%= __("Bus") %></label>
                    <input type="text" class="form-control" name="bus" id="bus"  value="<%= student.bus_id %>" readonly>
                </div>
                <div class="form-group col-md-8">
                        <label for="address"><%= __("Address") %></label>
                    <input type="text" class="form-control" name="address" id="address" value="<%=student.address %>" readonly>
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="reg_fee"><%= __("Registration Fees") %></label>
                    <input type="number" class="form-control" name="reg_fee" id="reg_fee" value="<%=student.reg_fee %>" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label for="cloth_fee"><%= __("Costume Fees") %></label>
                    <input type="number" class="form-control" name="cloth_fee" id="cloth_fee" value="<%=student.cloth_fee %>" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label for="transport_fee"><%= __("Transport Fees") %></label>
                    <input type="number" class="form-control" name="transport_fee" id="transport_fee" value="<%=student.transport_fee %>" readonly>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="tuition_fee"><%= __("Tuition Fees") %></label>
                    <input type="number" class="form-control" name="tuition_fee" id="tuition_fee" value="<%=student.tuition_fee %>" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label for="discount_fee"><%= __("Discount") %></label>
                     <input type="number" class="form-control" name="discount_fee" id="discount_fee" value="<%=student.discount_fee %>" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label for="active"><%= __("Active") %></label>
                    <input type="text" class="form-control" name="active" id="active" value="<%=student.active %>" readonly>
                </div>
            </div>    
        </form>
        <% } else { %>
            <p class="text-center">No students found</p>
        <% } %>
</div>    

<% include ../partials/footer.ejs %>