<% include partials/header.ejs %>
<% include partials/messages.ejs %>
    <div class="table-wrapper">
        <% if (salaries.length > 0) {%>
            <div class="teacherName alert alert-warning">
                <h4><%= e_firstname %> <%=e_lastname %> # ID: <%= e_id %></h4>  
            </div>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"><%= __("S.No") %></th>
                        <th scope="col"><%= __("Month") %></th>
                        <th scope="col"><%= __("Amount") %></th>
                        <th scope="col"><%= __("Bank") %></th>
                        <th scope="col"><%= __("Account No") %></th>
                        <th scope="col"><%= __("Pay date") %></th>
                        <th scope="col"><%= __("Note") %></th>
                        <th scope="col"><%= __("Action") %></th>
                    </tr>
                </thead>
                <tbody>
                    <% salaries.forEach((salary, index) => { %>
                        <tr>
                            <td><input type="text" class="form-control" name="sal_id" id="sal_id" value="<%= salary.sal_id %>" placeholder="<%= salary.sal_id %>" readonly></td>
                            <td><input type="text" class="form-control" name="sal_month" id="sal_month" value="<%= salary.sal_month %>" placeholder="<%= salary.sal_month %>" readonly></td>
                            <td><input type="text" class="form-control" name="amount" id="amount" value="<%= salary.amount %>" placeholder=<%= salary.amount %> readonly></td>
                            <td><input type="number" class="form-control" name="bank" id="bank" value="<%= salary.bank %>" placeholder=<%= salary.bank %> readonly></td>
                            <td><input type="number" class="form-control" name="AccNo" id="AccNo" value="<%= salary.AccNo %>" placeholder=<%= salary.AccNo %> readonly></td>
                            <td><input type="text" class="form-control" name="pay_date" id="pay_date" placeholder="<%= salary.pay_date %>" required></td>
                            <td><input type="text" class="form-control" name="note" id="note" value="<%= salary.note %>" placeholder="<%= salary.note %>"></td>
                            <td>
                                <a href="/deleteSalary/<%= salary.sal_id %>" class="btn btn-sm btn-danger"><%= __("Delete") %></a>
                            </td>
                    <% }) %>
                </tbody>
            </table>

        <% } else { %>
            <p class="text-center">No salaries found.</p>
        <% } %>
    </div>
</div>
</body>
<% include partials/footer.ejs %>